<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Patient List</title>
    <link rel="stylesheet" type="text/css" href="../static/css/search.css" th:href="@{/css/search.css}">

</head>
<body>
<div>
    <h1 id="main-title">Patient List</h1>
</div>

<div id="search">
    <form th:action="@{/search}" th:object="${query}" method="post">
        <input type="text" placeholder="Wyszukaj pacjenta" th:field="*{text}">
        <button type="submit">Search</button>
    </form>
</div>
<div id="info">
    <p id="count-patients" th:text="'Znaleziono ' + ${result.size()} + ' pacjentów'" />
</div>


<table id="list">
    <tr id="table-header">
        <td>No.</td>
        <td>Name</td>
    </tr>
    <tr th:each="data, iter: ${result}">
        <td id="number" th:text="${iter.index+1}" th:id="|td${iter.index}|"></td>
        <td id="name"><a th:href="'/patient=' + ${data[2]}" th:text="${data[0]} + ' ' + ${data[1]}"/></td>
    </tr>
</table>
</body>
</html>